In [6]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [7]:
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

## idea 1

In [8]:
# load dataset
real_news = pd.read_csv('../Data/real_news.csv')
fake_news = pd.read_csv('../Data/fake_news.csv')

In [9]:
real_news['label'] = 'true'
fake_news['label'] = 'false'

In [10]:
# check shape, rows and columns
real_news.shape, fake_news.shape

((21417, 5), (23481, 5))

In [11]:
# check column names
real_news.columns, fake_news.columns

(Index(['title', 'text', 'subject', 'date', 'label'], dtype='object'),
 Index(['title', 'text', 'subject', 'date', 'label'], dtype='object'))

In [12]:
real_news.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21417 entries, 0 to 21416
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   title    21417 non-null  object
 1   text     21417 non-null  object
 2   subject  21417 non-null  object
 3   date     21417 non-null  object
 4   label    21417 non-null  object
dtypes: object(5)
memory usage: 836.7+ KB

In [13]:
fake_news.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23481 entries, 0 to 23480
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   title    23481 non-null  object
 1   text     23481 non-null  object
 2   subject  23481 non-null  object
 3   date     23481 non-null  object
 4   label    23481 non-null  object
dtypes: object(5)
memory usage: 917.4+ KB

In [14]:
real_news.head()

,title,text,subject,date,label
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017",true
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017",true
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017",true
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017",true
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017",true

In [15]:
fake_news.head()

,title,text,subject,date,label
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017",false
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017",false
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017",false
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017",false
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017",false

In [16]:
combine = pd.concat([fake_news, real_news])
combine.shape

(44898, 5)

In [17]:
df_1 = combine.sample(len(combine))
df_1.head()

,title,text,subject,date,label
11373,EU questions Russia's 2018 vote after Navalny ...,BRUSSELS (Reuters) - The Russian authorities ...,worldnews,"December 26, 2017",true
10963,"Rice aides, Powell got classified info on pers...",WASHINGTON (Reuters) - Former U.S. Secretary o...,politicsNews,"February 4, 2016",true
13310,Venezuela arrests relative of powerful ex-oil ...,CARACAS (Reuters) - Venezuela has arrested Die...,worldnews,"December 1, 2017",true
8061,Trump Accidentally Applauds Obama’s Protectio...,Republican front runner Donald Trump loves to ...,News,"February 16, 2016",false
2765,For women at the U.S. Congress: the right to b...,WASHINGTON (Reuters) - After an internet-fuele...,politicsNews,"July 13, 2017",true

## idea 2

In [18]:
labels = pd.read_csv('../idea2_cv/chineseMNIST/chinese_mnist.csv')
labels.head()

   suite_id  sample_id  code  value character
0         1          1    10      9         九
1         1         10    10      9         九
2         1          2    10      9         九
3         1          3    10      9         九
4         1          4    10      9         九

In [19]:
from PIL import Image
import os

In [20]:
images_folder = '../idea2_cv/chineseMNIST/data/data/'

# Function to read and convert images, and associate labels from the CSV
def read_and_convert_images(images_folder):
    image_data = []

    for filename in os.listdir(images_folder):
        image_path = os.path.join(images_folder, filename)

        suite_id, sample_id, code = map(int, filename.split('.')[0].split('_')[1:4])

        label_info = labels[(labels['suite_id'] == suite_id) &
                                    (labels['sample_id'] == sample_id) &
                                    (labels['code'] == code)][['value', 'character']]

        image = Image.open(image_path)

        image_array = np.array(image).reshape(-1)

        image_data.append({'Image_Array': image_array, 'Label': label_info.value.iloc[0], 'character': label_info.character.iloc[0]})

    return image_data

# Call the function to read and convert images
image_data = read_and_convert_images(images_folder)

# Create a DataFrame from the image data
df = pd.DataFrame(image_data)

KeyboardInterrupt

In [ ]:
df.head()

In [ ]:
image_columns = pd.DataFrame(df['Image_Array'].to_list(), columns=[f'Pixel_{i}' for i in range(df['Image_Array'].iloc[0].size)])

In [ ]:
image_columns.head()

In [ ]:
image_columns.shape

In [ ]:
final_df = pd.concat([image_columns, df.Label, df.character], axis=1)

In [ ]:
final_df.head()

check the first 5 rows to make sure they are correct

In [ ]:
for i in range(5):  
    ex = final_df.iloc[i].values[:-2].astype('float')
    plt.imshow(ex.reshape(64,64), cmap='gray')
    plt.show()

In [91]:
final_df.to_csv('idea2_cv/chinesemnist.csv')